* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.head {
  text-align: center;
  font-size: 35px;
  color: red;
}

body {
  background-image: url('/gear5.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}


form {
  text-align: center;
}

ul {
  padding: 35px;
}

li {
  list-style: none;
  padding: 20px;
  color: #000000;
}

h3 {
  font-size: 40px;
  padding-bottom: 20px;

}

hr {
  padding-top: 20px;
  border-bottom: white;
  border-left: white;
  border-right: white;
  border-top: rgb(55, 0, 255) 3px solid;
}

input {
  background-color: #1677ff;
  padding: 15px;
  color: #000000;
  font-size: 20px;
  border: #1677ff;
  margin-right: 10px;
  opacity: 0.8;
  border-radius: 30px;
}

button {
  background-color: #1677ff;
  padding: 15px;
  color: #000000;
  font-size: 20px;
  border: #1677ff;
  opacity: 0.8;
  border-radius: 30px;
}